/**
 * @author Bharti Kumar, Özlem Gül, Michael Schelkle, Andreas Sakulidis, Gezim Krasniqi, Ezgi Demirbilek

/** Add css rules here for your application. */


body {
  padding: 10px;
 background-color: white;
 text-align: center;
}

div#TopLevelFrame {
	width: 1000px;
	min-width: 500px;
	border: 1px solid silver;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	align: center;
 }
 
div#Details {
	margin-left: 20em;
	min-height: 500px;
	max-height: 500px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
	border-left: 1px dashed silver;
	overflow:scroll;
}

div#Navigator {
	clear: both;
	float: left;
	width: 18em;
	min-height: 500px;
	padding: 1em 1em;
	border-top: 1px dashed silver;
	text-align: left;
	background-color: ghostwhite;
	border: 1px dashed silver;
}

div#Header {
	clear: both;
	font-family: Georgia;
	font-weight: bold;
	font-color: #008b8b;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border: 1px dashed silver;
	background-color: ghostwhite;
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
	background-color: ghostwhite;
}


/** Most GWT widgets already have a style name defined */




.dialogVPanel {
  margin: 15px;
}

.reportmenu {
	text-align:left;
}

.serverResponseLabelError {
  color: red;
}

.PinnwandAnzeigen {
  margin: 10px 0px 15px 0px;
}

.flextable {
  border: 1px solid silver;
  padding: 2px;
  margin: 6px 1px;
  
}

.aboliste{
	background-color: gainsboro;
	font-style: italic;
}
.title {
	text-align: center;
	font-size: 16pt;
	padding-bottom: 10px;
}

.Kommentare {
	background-color: honeyDew;
	border: 1px solid grey;
	margin: 0px 0px 6px 6px;
}
	
.linie {
	color: white;
	}

.Textbeitrag {
	background-color: gainsboro;
	border: 1px solid black;
	margin: 6px 1px;
}


.abo {
background-color: ghostwhite;
}

.Userspalte {
	background-color: ghostwhite;
	font-style: italic;
	border: 1px solid grey;
	margin: 6px 0px 6px 6px;
}

.loginPanel {
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 40px;
}

.addPanelAnmelden {
		padding-left: 50px;
	
}

.regi {
	font-weight: bold;
	padding-bottom: 20px;
}

.deleteUserPanel {
	padding-top: 20px;
}

.hinweis {
	font-size: 60%;
}

.userliste {
	background-color: gainsboro;
	font-style: italic;
}

.loginButton{
	color:black;
	margin: 1px 6px;
	font-color: black;
	cursor: hand;
}
	
.regButton {
  	margin: 6px 1px;
}

.sendSucheButton {
	color:black;
	margin: 6px 1px;
}

.loginPasswortLabel {
	padding-left: 10px;
	margin: 6px 1px;
}

.textbeitragposten {
	color:black;
	margin: 6px 1px;
}

.deleteProfileButton {
	color:black;
	margin: 6px 1px;
}

.editButton {
	color:black;
	margin: 6px 1px;
}

.loeschbutton {
	color: black;
}

.aboButton {
	color: black;
}

.bearbeitenLabel {
	padding-bottom: 10px;
	font-size: 16pt;	
}